<h3>All Polls</h3>
<% if admin_signed_in? %>
  <%= link_to 'Create new poll', new_poll_path %>
<% end %>
<ul>
  <% @polls.each do |poll| %>
    <li>
      <%= link_to poll.description, poll_path(poll) %>
      <% if admin_signed_in? %>
        <%= link_to 'Delete', poll,
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      <% end %>
      <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_poll_path(poll),
                    method: :get %>
      <% end %>
    </li>
  <% end %>
</ul>

