 <h3>All Polls</h3>
  <% if admin_signed_in? %>
   <button>
    <%= link_to 'Create new poll', new_poll_path %>
   </button>
  <% end %>
  <ul class="list-group">
    <% @polls.each do |poll| %>
      <li class="list-group-item">
        <%= link_to poll.description, poll_path(poll) %>
        <% if admin_signed_in? %>
          <button>
            <%= link_to 'Delete', poll,
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
            <% end %>
        </button>
        <% if admin_signed_in? %>
          <button>
            <%= link_to 'Edit', edit_poll_path(poll),
                        method: :get %>
            <% end %>
        </button>
      </li>
    <% end %>
  </ul>